<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeFlix - Meus favoritos</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">NodeFlix</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquisar..." value="{{ query }}"/>
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="{{ #menu.all }}active{{ /menu.all }}"><a href="/">Inicio</a></li>
        <li class="{{ #menu.anime }}active{{ /menu.anime }}"><a href="/animes">Animes</a></li>
        <li class="{{ #menu.serie }}active{{ /menu.serie }}"><a href="/series">Series</a></li>
        <li class="{{ #menu.movie }}active{{ /menu.movie }}"><a href="/movies">Filmes</a></li>
    </ul>
</nav>